.magee{
    background-image: url(../../../assets/img/master-slide-02.jpg);
    height: 35vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:70px;
}